body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(58, 0, 0) ;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#lapiz {
    width: 5em;
}

#header span {
    font-size: 30px;
    font-weight: 1000;
    text-shadow: 2px 2px gray;
    color: antiquewhite;
    padding: auto;
}

#subHeader {
    width: 100%;
    position: relative;
    top: auto;
    margin-top: 20px;
    left: 0;
    background-color: transparent;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#container {
    position: relative;
    width: 100%;
    top: auto;
    
    box-shadow: 2px 2px #000;
    width: 50%;
    min-width: 700px;
    border-radius: 5px;

    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('Productive-Journaling-1024x683.jpg');
    width: 100vw;
    height: 100vw;
    background-position:top;
}

#inputContainer {
    width: 70%;
    display: flex;
    justify-content: center;
    
    padding: 10px;
    margin-bottom: 25px;
}

#toDoInput {
    outline: none;
    width: 75%;
    padding-left: 10px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}

#addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    height: 35px;
    background: rgb(223, 171, 104);
    color: aliceblue;
    font-size: 20px;
}

#toDoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.toDoShell {
    width: 50%;
    min-height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: aliceblue;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 2px;
}

.toDoShell span {
    width: 90%;
}

.completeText {
    color: lightgray;
    text-decoration: line-through;
}

.completeCheckBox {
    transform: scale(1.8);
}

footer {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;    
    background-color: rgb(223, 171, 104);
    padding: 20px;
    text-align: center;

}